// Colors

$primary: #9356dc;
$secondary: #ff79da;
$tertiary: #99e2d0;
$grey: rgb(234, 234, 234);
$lightgrey: rgb(246, 246, 246);
$darkgrey: rgb(53, 53, 53);

// Fonts

$font-logo: "Shrikhand", cursive;
$font-size-icon: 20px;
